/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/*selected link */
a:active {
    color: blue;
}

.site-square {
    background-color: #0FF;
    width: 400px;
    height: 150px;
}