:root {
/* Fonts */
--regular: "Arial";

/* Colors */

--red: #F00;
--darker-red: #AF1f16;
--blue: #00F;
--dark-blue: #00008b;

--yellow: #FF0;

--white: #FFF;
--black: #000;
}

.button-container a {
    width: 200px;
    padding: 10px;
    color: var(--white);
    background-color: var(--red);


/* Rouding the corners */
border-radius: 10px;

/* Created with the shadow generator */
-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0,0,0.6);
box-shadow: 0px 0px 5px 0px rgba(0, 0,0,0.6);

/*Let's get rid of the underline */
text-decoration: none;

/*Transition effect */
transition: all 0.5s ease;
}

.button-container a:hover {
    background-color: var(--darker-red);
    /*Let's get rid of the underline */
    text-decoration: none;
}

.button-container2 a {
    width: 300px;
    padding: 30px;
    color: var(--white);
    background-color: var(--blue);

    /* Rouding the corners */
border-radius: 20px;

/* Created with the shadow generator */
-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0,0,0.6);
box-shadow: 0px 0px 5px 0px rgba(0, 0,0,0.6);

/*Let's get rid of the underline */
text-decoration: none;

/*Transition effect */
transition: all 0.5s ease;
}

.button-container2 a:hover {
    background-color: var(--dark-blue);
    text-decoration: none;
}